:root {
    --font-family: 'Inter V', 'Inter', system-ui, ui-sans-serif, 'Helvetica', sans-serif;
}

:root {
    --spacer: 0.5rem;
    --btn-height: 24px;
    --radius-medium: .3125rem;
    --text-body-medium-font-size: .6875rem;
    --text-body-medium-font-weight: 450;
    --text-body-medium-letter-spacing: .00344rem;
    --text-body-medium-line-height: 1rem;
    --icon-button-size: 1.5rem;
    --icon-button-icon-size: 1.5rem;
    --color-bghovertransparent: #0000000d;
    --btn-border: #0000001a;
    --scrollbar-bg: #0000001d;
    --color-tooltip: #1e1e1e;
    --elevation-300-tooltip: 0px 0px 1px rgba(0, 0, 0, .15),
        0px 5px 12px rgba(0, 0, 0, .13),
        0px 1px 3px rgba(0, 0, 0, .1);
}

.figma-dark {
    --color-bghovertransparent: #ffffff0d;
    --btn-border: #ffffff1a;
    --scrollbar-bg: #ffffff1d;
}

::placeholder {
    color: var(--figma-color-text-secondary);
    font-weight: 450;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    font-size: 16px;
    color: var(--figma-color-text);
    background: var(--figma-color-bg);
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

svg {
    display: inline-flex;
    flex-shrink: 0;
}

input,
button {
    font: inherit;
    color: inherit;
    outline: none;
}
button:focus-visible {
    outline: 1px solid var(--figma-color-border-selected);
}

.group {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    height: 40px;
    padding-inline: .5rem;

    &.border {
        border-bottom: 1px solid var(--figma-color-border);
    }
    &.spaced {
        justify-content: space-between;
        gap: 4px;
    }
}

::selection {
    background: var(--figma-color-bg-onselected);
}

.centered {
    display: flex;
    width: 100%;
    flex-direction: column;
    place-items: center;
    padding-block: 10vh;
}

.heading {
    font-weight: 600;
    font-size: 1.3em;
}

::-webkit-scrollbar {
    width: 10px;
    position: absolute;
}
::-webkit-scrollbar-track {
    background: none;

    &:hover {
        border: 1px solid var(--figma-color-border);
    }
}
::-webkit-scrollbar-thumb {
    background: var(--scrollbar-bg);
    border-radius: 100px;
    border: 1px solid var(--figma-color-border);
}

.tooltipDivider {
    width: 100%;
    margin-left: -0.5rem;
    position: absolute;
    border-top: 1px solid #ffffff30;
    margin-top: 4px;
}

a {
    font: inherit;
    text-decoration: inherit;
    color: inherit;
}